@model KnowledgeApp_Test.Models.Sugar_Molasses.SugarGodown
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Common
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
    DropdownListSevices DS = new DropdownListSevices();
    List<CrushingSeason> crushingSeason = DS.GetCrushingSeasonddl();
    var Id = "Sugar Godown";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(Id);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
@if (right[0].BtnAdd == true || right[0].btnEdit==true)
{
    using (Html.BeginForm("AddeditSugarGodown", "Sugar_Molasses", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                Godown Number
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.SugarGodownId)
                    @Html.TextBoxFor(m => m.GodownNumber, new { @class = "form-control", @maxlength = "50" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Lot Number
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.LotNumber, new { @class = "form-control", @maxlength = "3" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Crushing Season
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.CrushingSeasonId, new SelectList(crushingSeason, "CrushingSeasonId", "CrushingSeasonName"), "Select Crushing Season", new { @class = "form-control ddl" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Grade
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Grade, new { @class = "form-control", @Maxlength = "3" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Pack Size
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PackSize, new { @class = "form-control Tint", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Pack Type
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PackType, new { @class = "form-control Tint", @onkeypress = "javascript:return isNumber(event)" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Opening
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Opening, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Discontinued
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.Discontinued, new { @class = "form-control" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.SugarGodownId == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control bg-info">Update</button>
                }


            </div>
        </div>
    }
}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
        });
    </script>

