@model KnowledgeApp_Test.Models.Sugar_Molasses.SugarGodown
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Common
@using KnowledgeApp_Test.Models.Administration
@{
    ViewBag.Title = "Sugar Godown";
    DropdownListSevices DS = new DropdownListSevices();
    List<CrushingSeason> crushingSeason = DS.GetCrushingSeasonddl();
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else
{
    <div class="row">
        <div class="col-sm-12">

            <h3 style="color:#0090d9;">Sugar Godown</h3>

        </div>
    </div>
    <hr />
    if (right[0].BtnAdd)
    {
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditSugarGodown", "Sugar_Molasses")')"><i class="fa fa-plus"></i> New Sugar Godown</a>
    }
    <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
        @Html.Raw(@ViewBag.Alert)
    </div>
    if (right[0].btnView)
    {
    <div class="row" style="background-color: #f0f3f5">
        <div class="col-md-3">
            <div class="form-group">
                Crushing Season
                @Html.DropDownListFor(m => m.CrushingSeasonId, new SelectList(crushingSeason, "CrushingSeasonId", "CrushingSeasonName"), "Select Crushing Season", new { @class = "form-control ddl", @Id = "CrushingSeasonId2" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="SugarGodown" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%"></th>
                            <th>Id</th>
                            <th>Godown Number</th>
                            <th>Lot Number</th>
                            <th>Crushing Season Name</th>
                            <th>Grade</th>
                            <th>Package Size</th>
                            <th>Package Type</th>
                            <th>Opening</th>
                            <th>Discontinued</th>
                            <th>Crushing Season Id</th>

                        </tr>
                </table>
            </div>
        </div>
    </div>
    }
}
    <script type="text/javascript">
    $(document).ready(function () {
        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });
        $("#CrushingSeasonId2").on('change', function () {
            var CrushingSeason = $("#CrushingSeasonId2").val();
            GetTankData(CrushingSeason)
        });
        GetTankData('');
    });
        function GetTankData(CrushingSeason) {
            var URL = '/Sugar_Molasses/SugarGodownData?Crushingseason=' + CrushingSeason;
            $("#SugarGodown").DataTable().clear().draw();
            $("#SugarGodown").DataTable().destroy();
            $('#SugarGodown').DataTable({
            "ajax": {
                "url": URL,
                "type": "post",
                "datatype": "json"
            },
            "columns": [{
                "data": "SugarGodownId", "render": function (data) { return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditSugarGodown", "Sugar_Molasses")/" + data + "')><i class='fa fa-pencil'></i></a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>";},},
                { "data": "SugarGodownId" },
                { "data": "GodownNumber" },
                { "data":"LotNumber"},
                { "data": "CrushingSeasonCrushingSeasonName" },
                { "data": "Grade" },
                { "data": "PackSize" },
                { "data": "PackType" },
                { "data": "Opening" },
                { "data": "Discontinued", render: function (data, type, row) { if (data == true) { return '<input type="checkbox" disabled="true"  checked  >'; } return '<input type="checkbox" disabled="true" readonly="true">'; }, },
                { "data": "CrushingSeasonId" },],
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }
            ],
            dom: 'Blfrtip',
                buttons: [
                    {

                        extend: 'pdf',
                        action: newexportaction,
                    },
                    {

                        extend: 'excel',
                        action: newexportaction,
                    },
                    {

                        extend: 'print',
                        action: newexportaction,
                    },
                ],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            "language":
            {
                "processing": "Processing Please Wait....."
            }
        });
    }
    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Sugar Godown',
                    height: 700,
                    width: 900,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }


    </script>



