@model KnowledgeApp_Test.Models.TPT.TptWeekly
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.TPT
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
    DropdownListSevices DS = new DropdownListSevices();
    List<TptRevision> tptRevision = DS.TptRevisionddl();
    List<TptParameter> tptParameter = DS.TptParameterddl();
    var Id = "Tpt Weekly";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(Id);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
@if (right[0].BtnAdd == true || right[0].btnEdit==true)
{
    using (Html.BeginForm("AddeditTptWeekly", "TPT", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {

        <div class="row">
            <div class="col-md-4">
                Tpt Year
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.TptWeeklyId)
                    @Html.TextBoxFor(m => m.TptYear, new { @class = "form-control Sint", @required = "required", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Tpt Week
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.TptWeek, new { @class = "form-control Sint", @required = "required", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Tpt Revision
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.RevisionId, new SelectList(tptRevision, "RevisionId", "RevisionName"), "Select Revision", new { @class = "form-control ddl Tabledata", @id = "RevisionId2", @required = "required" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Tpt Parameter
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.TptParameterId, new SelectList(tptParameter, "TptParameterId", "ParameterName"), "Select TPT Parameter", new { @class = "form-control ddl Tabledata", @id = "TptParameterId2", @required = "required" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Target
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Target, new { @class = "form-control", @onkeypress = "javascript:return isNumber(event)", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Actual
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Actual, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Last Year Actual
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.LastYearActual, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Target Tex
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.TargetTex, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Taget Wil
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.TagetWil, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Actual Tex
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ActualTex, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Actual Wil
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ActualWil, new { @class = "form-control", @oninput = "validatetwodecimal(this)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.TptWeeklyId == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control bg-info">Update</button>
                }


            </div>

        </div>
    }
}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
            if ($("#TptYear").val() == 0) {
                $("#TptYear").val('');
            }
            if ($("#TptWeek").val() == 0) {
                $("#TptWeek").val('');
            }
        });
    </script>
