@model KnowledgeApp_Test.Models.Sugar_Molasses.SugarDayTransaction
@using KnowledgeApp_Test.Models.Sugar_Molasses
@using KnowledgeApp_Test.Models.Common
@using KnowledgeApp_Test.Services
@{
    ViewBag.Title = "SugarDayTransaction";
    DropdownListSevices DS = new DropdownListSevices();
    List<Unit> unit = DS.GetUnitddl();
    List<SugarGodown> sugarGodowns = DS.SugarGodownddl();
}

    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">Sugar Day Transaction</h3>
        </div>
    </div>
    <hr />
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditSugarDayTransaction","Sugar_Molasses")')"><i class="fa fa-plus"></i>New Sugar Day Transaction</a>
    <div class="d-flex justify-content-center mt-3 login_container">
        @Html.Raw(@ViewBag.Alert)
    </div>
    <div class="row" style="background-color: #f0f3f5">
        <div class="col-md-3">
            <div class="form-group">
                Unit
                @Html.DropDownListFor(m => m.UnitId, new SelectList(unit, "UnitId", "UnitName"), new { @class = "form-control ddl Tabledata", @id = "Unit2" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                Sugar Godown
                @Html.DropDownListFor(m => m.SugarGodownId, new SelectList(sugarGodowns, "SugarGodownId", "GodownNumber"), new { @class = "form-control ddl Tabledata", @id = "SugarGodown2" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Transaction Date
                @Html.TextBoxFor(m => m.TransactionDate, new { @Class = "form-control Tabledata", @Type = "Date",@Id= "TransactionDate" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Transaction Date
                @Html.TextBoxFor(m => m.TransactionDate, new { @Class = "form-control Tabledata", @Type = "Date",@Id= "TransactionDate2" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="SugarDayTransaction" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Unit Name</th>
                            <th>Godown Number</th>
                            <th>Transaction Date</th>
                            <th>Production</th>
                            <th>ShiftIn</th>
                            <th>Sales</th>
                            <th>ShiftOut</th>
                            <th>TornBag</th>
                            <th>Iscumsa Value</th>
                            <th>Moisture Value</th>
                            <th>Line Replace Date</th>
                            <th>Godown Id</th>
                            <th>Unit Id</th>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });
        $(".Tabledata").on('change', function () {
            var Unit = $("#Unit2").val();
            var SugarGodown = $("#SugarGodown2").val();
            var TransactionDate = $("#TransactionDate").val();
            var TransactionDate2 = $("#TransactionDate2").val();
            GetSugarDayTransactionData(Unit, SugarGodown, TransactionDate, TransactionDate2)
        });
        GetSugarDayTransactionData('','','','');
    });
        function GetSugarDayTransactionData(Unit, SugarGodown, TransactionDate, TransactionDate2) {
            var URL = '/Sugar_Molasses/SugarDayTransactionData?Unit=' + Unit + '&SugarGodown=' + SugarGodown + '&TransactionDate=' + TransactionDate + '&TransactionDate2=' + TransactionDate2;
            $("#SugarDayTransaction").DataTable().clear().draw();
            $("#SugarDayTransaction").DataTable().destroy();
            $('#SugarDayTransaction').DataTable({
            "ajax": {
                "url": URL,
                "type": "post",
                "datatype": "json"
            },
            "columns": [{
                "data": "SugarDayTransactionId", "render": function (data) { return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditSugarDayTransaction", "Sugar_Molasses")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";},},
                { "data": "SugarDayTransactionId" },
                { "data": "UnitUnitName" },
                { "data": "SugarGodownGodownNumber" },
                { "data": "TransactionDate" },
                { "data": "Production" },
                { "data": "ShiftingIn" },
                { "data": "Sales" },
                { "data": "ShiftingOut" },
                { "data": "TornBagCount" },
                { "data": "IcumsaValue" },
                { "data": "Opening" },
                { "data": "MoistureValue" },
                { "data": "LineReplaceDate" },
                { "data": "SugarGodownId" },
                { "data": "UnitId" },
            ],
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }
            ],
            dom: 'Bfrtip',
            buttons: ['excel', 'pdf', 'print',
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                }
            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "processing": "true",
            "language":
            {
                "processing": "Processing Please Wait....."
            }
        });
    }
    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Sugar Day Transaction',
                    height: 700,
                    width: 900,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }


    </script>


