@model IEnumerable<KnowledgeApp_Test.Models.Report.ShiftLogbook>

<div id="accordion">
    @{
        foreach (var item in Model.Select(a => a.UnitUnitName).Distinct())
        {
            <h3>Unit Id : @item</h3>
            <div>
                <table class="table table-bordered Report" id="ParemetertypeReport" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>Unit </th>
                            <th>Department Name</th>
                            <th>SubDepartmentName</th>
                            <th>Shift</th>
                            <th>Observations</th>
                            <th>WorkDone</th>
                            <th>WorkToBeDone</th>
                            <th>SectionHead</th>
                            <th>WorkToBeDone</th>
                            <th>Shift Incharge</th>
                            <th>Remarks</th>
                    </thead>

                    <tbody>
                        @foreach (var i in Model.Where(a => a.UnitUnitName.Equals(@item)))
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => i.UnitUnitName)
                                </td>

                                <td>@Html.DisplayFor(modelItem => i.DepartmentName) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => i.ShiftName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => i.Observations)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => i.WorkDone)
                                </td>
                                <td>@Html.DisplayFor(modelItem => i.WorkToBeDone)</td>

                                <td>@Html.DisplayFor(modelItem => i.ShiftInchargeID)</td>

                                <td>@Html.DisplayFor(modelItem => i.Remarks)</td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.Report').DataTable({

            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ]
        });
    });
    $(function () {
        $("#accordion").accordion({
            heightStyle: "content"

        });
    });

</script>
