@model KnowledgeApp_Test.Models.HouseData.MassecuiteConditioning
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Administration


@{
    Layout = null;
    ViewBag.Title = "Massecuite Conditioning";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditMassecuiteConditioning", "HouseData", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            @*<div class="col-md-4">
                    MassecuiteConditioning
                </div>*@
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.MassecuiteConditioningId)
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
            @Html.Raw(@ViewBag.Alert)
        </div>
        <div class="row">
            <div class="col-md-4">
                MassecuiteConditioningCode
            </div>
            <div class="col-md-8">
                <div class="form-group">

                    @Html.TextBoxFor(m => m.MassecuiteConditioningCode, new { @class = "form-control Tint", @required = "required", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                MassecuiteConditioningName
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MassecuiteConditioningName, new { @class = "form-control", @maxlength = "20" })

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.MassecuiteConditioningId == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control bg-info">Update</button>

                }

            </div>

        </div>
    }
}
    <script type="text/javascript">
        $(document).ready(function () {

            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
            if ($("#MassecuiteConditioningCode").val() == 0) {
                $("#MassecuiteConditioningCode").val('');
            }

        });
    </script>
