@model KnowledgeApp_Test.Models.HouseData.ChemicalConsumption
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.HouseData
@using KnowledgeApp_Test.Models.PlantData
@using KnowledgeApp_Test.Models.ProjectDocs
@using KnowledgeApp_Test.Models.Common
@using KnowledgeApp_Test.Models.Administration
@{
    ViewBag.Title = "Chemical Consumption";
    DropdownListSevices ds = new DropdownListSevices();
    List<Chemical> chemicals = ds.Chemicalddl();
    List<Unit> unit = ds.GetUnitddl();
    List<Shift> shift = ds.Shiftddl();
    List<Employee> employee = ds.Employeeddl();
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">Chemical Consumption</h3>
        </div>
    </div>
    <hr />
    if (right[0].BtnAdd == true)
    {
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditChemicalConsumption", "HouseData")')"><i class="fa fa-plus"></i> New Chemical Consumption</a>
    }
    <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
        @Html.Raw(@ViewBag.Alert)
    </div>
    if (right[0].btnView == true)
    {
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                Unit
                @Html.DropDownListFor(m => m.UnitId, new SelectList(unit, "UnitId", "UnitName"), "Select Unit", new { @class = "form-control ddl", @Id = "Unit2" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Shift
                @Html.DropDownListFor(m => m.ShiftId, new SelectList(shift, "ShiftId", "ShiftName"), "Select Shift", new { @class = "form-control ddl", @Id = "Shift2" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Process Head
                @Html.DropDownListFor(m => m.ProcessHeadId, new SelectList(employee, "EmployeeId", "EmployeeName"), "Select Process Head ", new { @class = "form-control ddl", @Id = "ProcessHead2" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Section Head
                @Html.DropDownListFor(m => m.SectionHeadId, new SelectList(employee, "EmployeeId", "EmployeeName"), "Select Section Head", new { @class = "form-control ddl", @Id = "SectionHead2" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Department Head
                @Html.DropDownListFor(m => m.DepartmentHeadId, new SelectList(employee, "EmployeeId", "EmployeeName"), "Select Department Head", new { @class = "form-control ddl", @Id = "DepartmentHead2" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="ChemicalConsumption" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th with="25%"></th>
                            <th>Id</th>
                            <th> Unit Name</th>
                            <th> Consumption Date</th>
                            <th>Shift Name</th>
                            <th>Process Head Code</th>
                            <th> Section Head Code</th>
                            <th> Department Head Code</th>
                            <th> Department Head Id</th>
                            <th> Process Head Id</th>
                            <th> Section Head Id</th>
                            <th> Shift Id</th>
                            <th> Unit Id</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    }
}
<script type="text/javascript">
    $(document).ready(function () {

        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });

        $(".ddl").on('change', function () {
            var Unit = $("#Unit2").val();
            var Shift = $("#Shift2").val();
            var ProcessHead = $("#ProcessHead2").val();
            var SectionHead = $("#SectionHead2").val();
            var DepartmentHead = $("#DepartmentHead2").val();
            getChemicalConsumption(Unit, Shift, ProcessHead, SectionHead, DepartmentHead)
        });
        getChemicalConsumption('','','','','')
    });



    function getChemicalConsumption(Unit, Shift, ProcessHead, SectionHead, DepartmentHead) {
        var Url = '/HouseData/ChemicalConsumptionData?Unit=' + Unit +'&Shift=' + Shift + '&ProcessHead=' + ProcessHead + '&SectionHead=' + SectionHead + '&DepartmentHead=' + DepartmentHead;
        $("#ChemicalConsumption").DataTable().clear().draw();
        $("#ChemicalConsumption").DataTable().destroy();
        dataTable = $('#ChemicalConsumption').DataTable({
            "ajax": {
                "url": Url,
                "type": "post",
                "datatype": "json"
            },
            "columns": [{
                "data": "ChemicalConsumptionId", "render": function (data) {
                        return "@if (right[0].btnEdit == true){<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditChemicalConsumption", "HouseData")/" + data + "')><i class='fa fa-pencil'></i></a>}@if (right[0].btnDelete == true){<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>}";},},
                { "data": "ChemicalConsumptionId" },
                { "data": "UnitUnitName" },
                { "data": "ConsumptionDate", 'render': function (jsonDate) { var date = new Date(parseInt(jsonDate.substr(6))); var month = ("0" + (date.getMonth() + 1)).slice(-2); return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear(); } },
                { "data": "ShiftShiftName" },
                { "data": "ProcessHeadEmployeeCode" },
                { "data": "SectionHeadEmployeeCode" },
                { "data": "DepartmentHeadEmployeeCode" },
                { "data": "DepartmentHeadId" },
                { "data": "ProcessHeadId" },
                { "data": "SectionHeadId" },
                { "data": "ShiftId" },
                { "data": "UnitId" },
            ],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }],
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    action: newexportaction,
                },
                {
                    extend: 'excel',
                    action: newexportaction,
                },
                {
                    extend: 'print',
                    action: newexportaction,
                },
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                }
            ],
            "language":
            {
                "processing": "Processing Please Wait.....",
                "emptyTable": "No data found......"
            }
        });

    }
    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Chemical Consumption',
                    height: 700,
                    width: 1200,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }
</script>
