@model KnowledgeApp_Test.Models.PlantData.Location
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.PlantData
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
    DropdownListSevices Ds = new DropdownListSevices();
    List<Position> positions = Ds.Positionddl();
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditLocation", "PlantData", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                LocationCode
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.LocationId)
                    @Html.TextBoxFor(m => m.LocationCode, new { @class = "form-control Code", @required = "required", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                LocationName
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control", @maxlength = "80" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Position
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.PositionId, new SelectList(positions, "PositionId", "PositionName"), "Select Position", new { @class = "form-control ddl" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                ShortName
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control", @maxlength = "15" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @if (Model.LocationId == 0 && right[0].BtnAdd==true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control bg-info">Update</button>
                }


            </div>

        </div>
    }
}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
            if ($("#LocationCode").val() == 0) {
                $("#LocationCode").val('');
            }
        });
    </script>
