@model KnowledgeApp_Test.Models.PlantData.Shift
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
    ViewBag.Title = "Shift";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right[0].BtnAdd == true || right[0].btnEdit==true)
{
    using (Html.BeginForm("AddeditShift", "PlantData", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                Shift Code
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.ShiftId)
                    @Html.TextBoxFor(m => m.ShiftCode, new { @class = "form-control Tint", @required = "required", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Shift Name
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ShiftName, new { @class = "form-control", @Maxlength = 20 })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Short Code
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ShortCode, new { @class = "form-control", @maxlength = "1" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                First Hour
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.FirstHour, new { @class = "form-control Code", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Second Hour
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.SecondHour, new { @class = "form-control Code", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Third Hour
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ThirdHour, new { @class = "form-control Code", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Fourth Hour
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.FourthHour, new { @class = "form-control Code", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.ShiftId == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnView == true)
                {
                    <button class="form-control bg-info">Update</button>
                }


            </div>

        </div>
    }
}


    <script type="text/javascript">
        $(document).ready(function () {

            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
            if ($("#ShiftCode").val() == 0) {
                $("#ShiftCode").val('');
            }

        });
    </script>


