@model KnowledgeApp_Test.Models.PlantData.Location
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.PlantData
@using KnowledgeApp_Test.Models.Administration
@{
    ViewBag.Title = "Location";
    DropdownListSevices Ds = new DropdownListSevices();
    List<Position> positions = Ds.Positionddl();
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">Location</h3>

        </div>
    </div>
    <hr />
    if (right[0].BtnAdd == true)
    {
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditLocation", "PlantData")')"><i class="fa fa-plus"></i> New Location</a>
    }
    <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
        @Html.Raw(@ViewBag.Alert)
    </div>
    if (right[0].btnView == true)
    {
    <div class="row" style="background-color: #f0f3f5">
        <div class="col-md-2">
            <div class="form-group">
                @Html.DropDownListFor(m => m.PositionId, new SelectList(positions, "PositionId", "PositionName"), "Select Position", new { @class = "form-control ddl", @Id = "Position2" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="Location" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%"></th>
                            <th>Id</th>
                            <th>Location Code</th>
                            <th>Location Name</th>
                            <th>Position Name</th>
                            <th>Short Name</th>
                            <th>Position Id</th>

                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });
        $("#Position2").on('change', function () {
            var Position = $("#Position2").val();
            getPositionData(Position)
        });
        getPositionData('');
    });
    function getPositionData(Position) {
    var URL='/PlantData/LocationData?Position=' + Position;
    $("#Location").DataTable().clear().draw();
    $("#Location").DataTable().destroy();
    $('#Location').DataTable({
            "ajax": {
                "url": URL,
                "type": "post",
                "datatype": "json"
            },
            "columns": [{
                "data": "LocationId", "render": function (data) { return "@if (right[0].btnEdit == true) {<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditLocation", "PlantData")/" + data + "')><i class='fa fa-pencil'></i></a>}@if (right[0].btnDelete == true) {<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>}";},},
                { "data": "LocationId" },
                { "data": "LocationCode" },
                { "data": "LocationName" },
                { "data": "PositionPositionName" },
                { "data": "ShortName" },
                { "data": "PositionId" },],
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }
            ],
        dom: 'Blfrtip',
        buttons: [
            {
                extend: 'pdf',
                action: newexportaction,
            },
            {
                extend: 'excel',
                action: newexportaction,
            },
            {
                extend: 'print',
                action: newexportaction,
            },
            {
                extend: 'colvis',
                columns: ':not(.noVis)'
            }
        ],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            "language":
            {
                "processing": "Processing Please Wait....."
            }
        });
    }
    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Location',
                    height: 700,
                    width: 900,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }


</script>

