@model KnowledgeApp_Test.Models.PlantData.Pan
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Administration
@{
    ViewBag.Title = "Pan";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">Pan</h3>
        </div>
    </div>
    <hr />
    if (right[0].BtnAdd == true)
    {
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditPan", "PlantData")')"><i class="fa fa-plus"></i> New Pan</a>
    }
    <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
        @Html.Raw(@ViewBag.Alert)
    </div>
    if (right[0].btnView == true)
    {
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="Pan" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%"></th>
                            <th> PanId</th>
                            <th> PanCode</th>
                            <th> PanName</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
}


<script type="text/javascript">
    $(document).ready(function () {
        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });
        getPanData()
    });

    function getPanData() {
        var URL = '/PlantData/PanData';
        $("#Pan").DataTable().clear().draw();
        $("#Pan").DataTable().destroy();
        $('#Pan').DataTable({
            "ajax": {
               "url": URL,
                "type": "post",
                "datatype": "json"
            },
               "columns": [{ "data": "PanId", "render": function (data) { return "@if (right[0].btnEdit == true) {<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditPan", "PlantData")/" + data + "')><i class='fa fa-pencil'></i></a>}@if (right[0].btnDelete == true) {<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>}";},},
                   { "data": "PanId" },
                   { "data": "PanCode" },
                   { "data": "PanName" },],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }],
            dom: 'Blfrtip',
            buttons: [
                {


                    extend: 'pdf',
                    action: newexportaction,
                },
                {

                    extend: 'excel',
                    action: newexportaction,
                },
                {

                    extend: 'print',
                    action: newexportaction,
                },
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                }
            ],
            "language":
            {
                "processing": "Processing Please Wait.....",
                "emptyTable": "No data found......"
            }
        });

    }
    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Mill Details',
                    height: 700,
                    width: 1000,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }




</script>
