@model KnowledgeApp_Test.Models.Common.UnitCrushingSeason
@using KnowledgeApp_Test.Services;
@using KnowledgeApp_Test.Models.Common;
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
}
@{
    ViewBag.Title = "Unit Crushing Season";
    DropdownListSevices dropdownListSevices = new DropdownListSevices();
    List<Unit> UnitList = dropdownListSevices.GetUnitddl();
    List<CrushingSeason> CrushingSeasonsList = dropdownListSevices.GetCrushingSeasonddl();
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);

}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditUnitCrushingSeason", "Common", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
        <div class="row">
            <div class="col-md-4">
                Crushing Season:
            </div>
            @Html.HiddenFor(m => m.UnitCrushingSeasonId)
            <div class="col-md-8">
                <div class="form-group">

                    @Html.DropDownListFor(m => m.CrushingSeasonId, new SelectList(CrushingSeasonsList, "CrushingSeasonId", "CrushingSeasonName"), "Select Crushing Season", new { @class = "form-control ddl", @required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Unit:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.UnitId, new SelectList(UnitList, "UnitId", "UnitName"), "Select Unit", new { @class = "form-control ddl", @required = "required" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Crushing Start Date
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.CrushingStartDate, new { Value = Model.CrushingStartDate.ToString("dd-MM-yyyy"), @class = "form-control date" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Crushing EndDate:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.CrushingEndDate, new { Value = Model.CrushingEndDate.ToString("dd-MM-yyyy"), @class = "form-control date" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Minutes Delayed Start:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MinutesDelayedStart, new { @class = "form-control", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Minutes Early End:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MinutesEarlyEnd, new { @class = "form-control", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.UnitCrushingSeasonId == 0 && right[0].BtnAdd == true)
                {
                    <input type="submit" value="submit" class="btn btn-success" />
                }
                else if (right[0].btnEdit == true)
                {
                    <input type="submit" value="Update" class="btn btn-primary" />
                }

            </div>
        </div>


    }
}
    <script>
        $(document).ready(function () {

            $(".ddl").select2({
                placeholder: "select ",
                allowClear: true,
                theme: "classic"
            });
            $('.date').datepicker({ dateFormat: 'dd-mm-yy', maxDate: '+0D', });
            if ($("#CrushingStartDate").val() == '01-01-0001') {
                $('#CrushingStartDate').datepicker('setDate', 'today');
            }

            if ($("#CrushingEndDate").val() == '01-01-0001') {
                $('#CrushingEndDate').datepicker('setDate', 'today');
            }

        });
    </script>
