@model KnowledgeApp_Test.Models.Common.Grower
@using KnowledgeApp_Test.Services;
@using KnowledgeApp_Test.Models.Common;
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
}
@{
    ViewBag.Title = "Grower";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
    DropdownListSevices dropdownListSevices = new DropdownListSevices();
    List<Unit> UnitList = dropdownListSevices.GetUnitddl();
    List<Village> Vilagelist = dropdownListSevices.GetVillageddl();
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditGrower", "Common", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
        <div class="row">
            @Html.HiddenFor(m => m.GId)
            <div class="col-md-4">
                Village:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.GVill, new SelectList(Vilagelist, "VId", "VName"), "Select Village", new { @class = "form-control ddl Tabledata", @required = "required" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                G Code
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GCode, new { @class = "form-control Code Smint", @required = "required", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                G  Name:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GName, new { @class = "form-control", @required = "required", @maxlength = "30" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                G Father:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GFather, new { @class = "form-control", @maxlength = "30" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                G Hname:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GHname, new { @class = "form-control", @maxlength = "30" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                G Hfather:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GHfather, new { @class = "form-control", @maxlength = "30" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                G CreatedBy:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GCreatedBy, new { @class = "form-control", @required = "required", @maxlength = "3" })
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                G Edited By:
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GEditedBy, new { @class = "form-control", @maxlength = "3" })
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                Unit:
            </div>
            <div class="col-md-8">
                <div class="form-group">

                    @Html.DropDownListFor(m => m.UnitId, new SelectList(UnitList, "UnitId", "UnitName"), "Select Unit", new { @class = "form-control ddl Tabledata" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @if (Model.GId == 0 && right[0].BtnAdd==true)
                {
                    <button class="form-control btn btn-success">Save</button>

                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control btn btn-info">Update</button>
                }
            </div>
        </div>
    }
}

    <script type="text/javascript">

        $(document).ready(function () {

            $(".ddl").select2({
                placeholder: "select ",
                allowClear: true,
                theme: "classic"
            });
            if ($("#GCode").val() == 0) {
                $("#GCode").val('');
            }
        });
    </script>
