@model KnowledgeApp_Test.Models.SpecialAnalysis.SpecialAnalysisParameter
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.SpecialAnalysis
@using KnowledgeApp_Test.Models.Administration
@{
        ViewBag.Title = "Special Analysis Parameter";
        DropdownListSevices ds = new DropdownListSevices();
        List<SpecialAnalysisType> SpecialAnalysisType = ds.GetSpecialAnalysisTypeddl();
        GeneralServices GS = new GeneralServices();
        List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
    }
    @if(right.Count == 0 || right == null)
    {
        Response.Redirect("/Login/Access");
    }
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">Special Analysis Parameter</h3>
        </div>
    </div>
    <hr />
    if (right[0].BtnAdd == true)
    {
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditSpecialAnalysisParameter", "SpecialAnalysis")')"><i class="fa fa-plus"></i> New Special Analysis Parameter</a>
    }
    <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
        @Html.Raw(@ViewBag.Alert)
    </div>
    if (right[0].btnView == true)
    {
    <div class="row" style="background-color: #f0f3f5">
        <div class="col-md-2">
            <div class="form-group">
                Special Analysis Type
                @Html.DropDownListFor(m => m.SpecialAnalysisType, new SelectList(SpecialAnalysisType, "SpecialAnalysisTypeId", "SpecialAnalysisTypeName"), "Select Special Analysis", new { @class = "form-control ddl", @id = "SpecialAnalysisType2" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="AnalysisType" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%"></th>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Special Analysis Parameter Name</th>
                            <th>IsInput</th>
                            <th>Formula</th>
                            <th>Data Type</th>
                            <th>Short Name</th>
                            <th>Descriptive Formula</th>
                            <th>Row No</th>
                            <th>Column No</th>
                            <th>Calculation Level</th>
                            <th>Special Analysis Type Id</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });
        $("#SpecialAnalysisType2").on('change', function () {
            var SpecialAnalysisType = $("#SpecialAnalysisType2").val();
            getSpecialParameter(SpecialAnalysisType)
        });



        getSpecialParameter("");
    });

    function getSpecialParameter(SpecialAnalysisType) {
        $("#AnalysisType").DataTable().clear().draw();
        $("#AnalysisType").DataTable().destroy();
       var URL='/SpecialAnalysis/SpecialAnalysisParameterData?SpecialAnalysisType=' + SpecialAnalysisType;

        $('#AnalysisType').DataTable({
            "ajax": {
                "url": URL,
                "type": "post",
                "datatype": "json"
            },
            "columns": [{
                "data": "SpecialAnalysisParameterId", "render": function (data) {return "@if (right[0].btnEdit == true){<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditSpecialAnalysisParameter", "SpecialAnalysis")/" + data + "')><i class='fa fa-pencil'></i></a>}@if (right[0].btnDelete == true){<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>}";},},
                { "data": "SpecialAnalysisParameterId" },
                { "data": "SpecialAnalysisParameterCode" },
                { "data":"SpecialAnalysisParameterName"},
                { "data": "IsInput" , render: function (data, type, row) { if (data == true) { return '<input type="checkbox" disabled="true"  checked  >'; } return '<input type="checkbox" disabled="true" readonly="true">'; }, },
                { "data": "Formula" },
                { "data": "DataType" },
                { "data": "ShortName" },
                { "data": "DescriptiveFormula" },
                { "data": "RowNumber" },
                { "data": "ColumnNumber" },
                { "data": "CalculationLevel" },
                { "data": "SpecialAnalysisParameterId" },],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }],
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    action: newexportaction,
                },
                {

                    extend: 'excel',
                    action: newexportaction,
                },
                {

                    extend: 'print',
                    action: newexportaction,
                },
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                }
            ],
            "language":
            {
                "processing": "Processing Please Wait.....",
                "emptyTable": "No data found......"
            }
        });

     }

    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Special analysis Parameter',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }
</script>



