@model KnowledgeApp_Test.Models.Stoppages.StoppageStation
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Parameters
@using KnowledgeApp_Test.Models.Stoppages
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
    ViewBag.Title = "Stoppage Station";
    DropdownListSevices ds = new DropdownListSevices();
    List<Parameter> parameter = ds.GetParemeterddl();
    List<StoppageDepartment> stoppageDepartment = ds.GetStoppageDepartmentddl();
    //var Id = "Stoppage Spares Process";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditStoppageStation", "Stoppages", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                Station Code
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.StationId)
                    @Html.TextBoxFor(m => m.StationCode, new { @class = "form-control", @maxlength = "4" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Station Name
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.StationName, new { @class = "form-control", @maxlength = "40" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Department
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(stoppageDepartment, "DepartmentId", "DepartmentName"), "Select Department", new { @class = "form-control ddl", @required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Parameter
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.ParameterId, new SelectList(parameter, "ParameterId", "ParameterName"), "Select Parameter", new { @class = "form-control ddl" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.StationId == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control bg-info">Update</button>
                }
            </div>
        </div>
    }
}

    <script>
        $(document).ready(function () {

            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
        });


    </script>
