@model KnowledgeApp_Test.Models.Stoppages.StoppageDepartment
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Parameters
@using KnowledgeApp_Test.Models.Administration
@{
    ViewBag.Title = "Stoppage Department";
    DropdownListSevices ds = new DropdownListSevices();
    List<Parameter> parameter = ds.GetParemeterddl();
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">@ViewBag.Title</h3>
        </div>
    </div>
    <hr />
    if (right[0].BtnAdd == true)
    {
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditStoppageDepartment", "Stoppages")')"><i class="fa fa-plus"></i> Add New Stoppage Department</a>
    }
    <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
        @Html.Raw(@ViewBag.Alert)
    </div>
    if (right[0].btnView == true)
    {
    <div class="row" style="background-color: #f0f3f5">
        <div class="col-md-2">
            <div class="form-group">
                @Html.DropDownListFor(m => m.ParameterId, new SelectList(parameter, "ParameterId", "ParameterName"), "Select Parameter", new { @class = "form-control ddl", @Id = "Parameter2" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="DepartMent" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%"></th>
                            <th>Id</th>
                            <th>Departmen Code</th>
                            <th>Department Name</th>
                            <th>Parameter Name</th>
                            <th>Parameter Id</th>

                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".ddl").select2({
            placeholder: "select Unit",
            allowClear: true,
            theme: "classic"
        });

        $("#Parameter2").on('change', function () {
            var Parameter = $("#Parameter2").val();
            getStoppageDepartment(Parameter)
        });


        getStoppageDepartment('')
    });

    function getStoppageDepartment(Parameter) {
        $("#DepartMent").DataTable().clear().draw();
        $("#DepartMent").DataTable().destroy();
        var URL = '/Stoppages/StoppageDepartmentData?Parameter=' + Parameter;
        $('#DepartMent').DataTable({
            "ajax": {
                "url": URL,
                "type": "post",
                "datatype": "json"
            },
                "columns": [{
                    "data": "DepartmentId", "render": function (data) {return "@if (right[0].btnEdit == true){<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditStoppageDepartment", "Stoppages")/" + data + "')><i class='fa fa-pencil'></i></a>}@if (right[0].btnDelete == true){<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>}";},},
                    { "data": "DepartmentId" },
                    { "data": "DepartmentCode" },
                    { "data": "DepartmentName" },
                    { "data": "ParameterName" },
                    { "data":"ParameterId"}],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }],
            dom: 'Blfrtip',
            buttons: [
                {
                    title: 'Stoppage Department',
                    extend: 'pdf',
                    action: newexportaction,
                },
                {
                    title: 'Stoppage Department',
                    extend: 'excel',
                    action: newexportaction,
                },
                {
                    title: 'Stoppage Department',
                    extend: 'print',
                    action: newexportaction,
                },
            ],
            "language":
            {
                "processing": "Processing Please Wait.....",
                "emptyTable": "No data found......"
            }
        });

    }
    function PopupForm(url) {
        console.log(url)

        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Stappege Department',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }
</script>

