@model KnowledgeApp_Test.Models.Template.ChartTemplateDetails
@using KnowledgeApp_Test.Services;
@using KnowledgeApp_Test.Models.Template;
@using KnowledgeApp_Test.Models.Parameters;
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
}
@{
    ViewBag.Title = "Chart Template";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
    DropdownListSevices dropdownListSevices = new DropdownListSevices();
    List<Parameter> parameter = dropdownListSevices.GetParemeterddl();
    List<ParameterType> parameterType = dropdownListSevices.ParameterTypeTypeddl();

}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/login/Access");
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditChartTemplateDetails", "Template", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
        <div class="row">
            <div class="col-md-4">
                SerialNumber
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.ChartTemplateDetailID)
                    @Html.HiddenFor(m => m.ChartTemplateID, new { Value = @ViewBag.ChartTemplateId })
                    @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control Smint", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Parameter
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.ParameterID, new SelectList(parameter, "ParameterId", "ParameterName"), "Select Parameter", new { @class = "form-control ddl" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Parameter Type
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.ParameterType, new SelectList(parameterType, "ParameterTypeId", "ParameterTypeName"), "Select Parameter Type", new { @class = "form-control ddl" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @if (Model.ChartTemplateDetailID == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>

                }
                else if (right[0].btnEdit == true)
                {
                    <button class="form-control bg-primary">Update</button>
                }

            </div>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $(".ddl").select2({
            placeholder: "select Option",
            allowClear: true,
            theme: "classic"
        });

    });

</script>
