@using KnowledgeApp_Test.Models.Administration
@using KnowledgeApp_Test.Services;
@{
    ViewBag.Title = "Chart Template";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/login/Access");
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:#0090d9;">@ViewBag.Title</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @if (right[0].BtnAdd == true)
                {
                    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddeditChartTemplate","Template")')"><i class="fa fa-plus"></i> New Chart Template Details</a>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container" id="DeleteMessge">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
    if (right[0].btnView == true)
    {

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered dataTable" id="Charttemplate" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th> ChartTemplateId</th>
                        <th> ChartTemplateName</th>
                        <th> ChartType</th>
                        <th> Template File Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    }
}

<script type="text/javascript">

    $(document).ready(function () {
        getChartTemplateData();
    });
    function getChartTemplateData() {

        dataTable = $('#Charttemplate').DataTable({
            "ajax": {
            "url": "/Template/ChartTemplateData",
                "type": "post",
                "datatype": "json"
            },
     "columns": [{
         "data": "ChartTemplateId", "render": function (data) {
                        return "@if (right[0].btnEdit == true) {<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddeditChartTemplate", "Template")/" + data + "')><i class='fa fa-pencil'></i></a>}@if (right[0].btnDelete == true) {<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>}";
                    },},
                     { "data": "ChartTemplateId" },
         { "data": "ChartTemplateName" },
         { "data": "ChartTypeName" },
         { "data":"TemplateFileName"}

            ],
            "serverSide": "true",
            "order": [0, "asc"],
             "processing": "true",scrollX: true,scrollY: true,paging: true,
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }],
            dom: 'Blfrtip',

            buttons: [
                {
                    extend: 'pdf',
                    action: newexportaction,
                },
                {
                    extend: 'excel',
                    action: newexportaction,
                },
                {
                    extend: 'print',
                    action: newexportaction,
                },
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                }
            ],
            "language":
            {
                "processing": "Processing Please Wait.....",
                "emptyTable": "No data found......"
            }
        });

    }
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Chart Template Details',
                    height: 500,
                    width: 900,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
    }




</script>

